[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
shapely = "*"
numpy = "*"
pandas = "*"
pypiwin32 = "*"
pymongo = "*"
mongoengine = "*"
flask = "*"
psutil = "*"
setuptools = "*"
flask-cors = "*"
flask-login = "*"
pyjwt = "*"
pytest = "*"
requests = "*"
selenium = "*"
browsermob-proxy = "*"
lxml = "*"
netifaces = "*"
wmi = "*"
tinydb = "*"
shortuuid = "*"
tqdm = "*"
colorama = "*"

[dev-packages]

[requires]
python_version = "3.9"
