[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
shapely = "*"
numpy = "*"
pandas = "*"
pypiwin32 = "*"
psutil = "*"
setuptools = "*"
pytest = "*"
tinydb = "*"
shortuuid = "*"
tqdm = "*"
colorama = "*"

[dev-packages]

[requires]
python_version = "3.9"
