# -*- coding: utf-8 -*-
# 使用 pip3 install -r requirements.txt 命令来添加包
# pip3 一般位于 克隆出来的conda环境\Scripts\pip3.exe

shapely
numpy
pandas
pypiwin32
psutil
setuptools
pytest
tinydb
shortuuid
tqdm
colorama
flask
flask_login
pymongo